.movies-container {
    margin-top: 200px;
    margin-bottom: 20px;
    padding: 0 16.6vw;
}

.movies-container .movies-header {
    border-bottom: 3px solid black;
    margin: 30px 0;
    display: flex;
    position: relative;
}

.movies-container .movies-header a {
    text-decoration: none;
    color: rgb(184, 177, 177);
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.movies-container .movies {
    /* padding: 0 16.6vw; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    gap: 2vw;
    /* grid-template-rows: repeat(auto-fit, minmax(280px, 1fr)); */
    /* gap: 10px; */
    /* grid-auto-rows: 1fr; */
}

@media screen and (max-width: 1200px) {
    .movies-container {
        padding: 0 7vw ;
    }
}

@media screen and (max-width: 700px) {
    .movies-container {
        padding: 0 2vw ;
    }
    .movies-container .movies {
        grid-template-columns: repeat(auto-fit, minmax(calc(100vw/3.5), 1fr));
    }
}


@media screen and (max-width: 600px) {
    .movies-container {
        margin-top: auto;
    }
  
}
