.profile-content-container {
  width: 50%;
  min-height: 500px;
  margin: 250px auto 50px;
  display: flex;
  /* border: 1px solid #e0e0e0; */
  /* background-color: red; */
}

.profile-content-container .profile-left {
  width: 22%;
  /* background-color: red; */
}

.profile-content-container .profile-right {
  width: 78%;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

@media (max-width: 1600px) {
  .profile-content-container {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .profile-content-container {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .profile-content-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .profile-content-container {
    margin: 250px auto 50px;
    width: 90%;
  }

  .profile-content-container .profile-left {
    display: none;
  }

  .profile-content-container .profile-right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .profile-content-container {
    margin-top: 10px;
  }
}
