.dates-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 78px);
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.dates-container .date-container {
    width: 77px;
    height: 48px;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
    /* display: flex */
    color: #717171;
    cursor: pointer;
}
.dates-container .selected {
    border-color: black;
}
.dates-container .date-container:hover {
    border-color: black;
}


.dates-container .date-container div {
    width: fit-content;
    font-size: 11px;
    font-weight: 100;
    margin: 3px
}

.dates-container .date-container span {
    position: absolute;
    font-size: 31px;
    font-weight: 300;
    top: 4px;
    right: 3px
}

.provinces-container {
    display: grid;
    /* width: calc(100% - 40px); */
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 20px 0px;
    margin: 0 20px;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    border-bottom: 2px solid black
}

.provinces-container .province-container {
    width: 78px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 8px 10px;
    font-size: 11px;
    color: #717171;
    text-align: center;
    
}

.provinces-container .selected {
    background-color: black;
    color: white;
}

.cinemas-container .cinema {
    width: calc(100% - 80px);
    padding: 20px 0;
    margin: 0 40px;
    border-bottom: 2px solid black
}

.cinemas-container .cinema .cinema-name {
    color: #636363;
    font-weight: 100;
}
.cinemas-container .cinema .room-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cinemas-container .cinema .room-container .room-name{
   width: 100%;
}

.cinemas-container .cinema .room-container .time-container{
    text-decoration: none;
    color: black;
    border: 1px solid #cbcabe;
    padding: 2px 25px;
    margin: 3px;
    cursor: pointer;
}

.cinemas-container .cinema .room-container .time-container:hover{
    border-color: black;
}