.form-container {
  width: 65%;
  min-width: 65%;
  margin: 200px auto 30px;
  /* height: 120px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 600;
}

.form-container .forms {
  width: 54%; 
  padding: 5px 5px;
  font-size: 14px;
}
.form-container .option-container {
    height: fit-content;
    padding: 0 10px; 
    margin: 20px 0;
    background-color: #e71a0f;
}

.form-container .option-container a {
  text-decoration: none;
  width: 25%;
  color: white;
  margin: 20px 20px 0px;
  display: inline-block;
  text-align: center;
}

.form-container .option-container a div {
  height: 3px;
  width: 100%;
  margin-top:5px;
  background-color: white;
}


@media (max-width: 1500px){
  .form-container {
    width: 75%;
  }
}

@media (max-width: 1400px){
  .form-container {
    width: 80%;
  }
}

@media (max-width: 1300px){
  .form-container {
    width: 85%;
  }
}

@media (max-width: 1200px){
  .form-container {
    width: 90%;
  }
}

@media (max-width: 1000px){
  .form-container {
    width: 95%;
  }
  .form-container .forms {
    width: 100%; 
  }
} 

@media (max-width: 600px){
  .form-container {
    margin: auto;
  }
} 