.food-content-container {
  width: 50%;
  margin: 250px auto 100px;
  min-height: 500px;
  border: 1px solid gray;
}

@media (max-width: 1600px) {
  .food-content-container {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .food-content-container {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .food-content-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .food-content-container {
    width: 90%;
  }
}
