.form {
    padding: 20px 20px;
}

.form label {
    display: block; 
}

.form  .input-text-field {
    width: 100%;
    height: 30px;
    padding: 8px;
    margin: 5px 0 ;
    display: block

}

.form  .input-submit {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 20px 0 0 0  ;
    display: block;
    border-radius: 5px;
    background-color: #e71a0f;
    color: white;
    border: none;
}

.form .captcha-container {
    width: 100%;
    display: flex; 
    justify-content: center; 
    margin: 20px 0;
}
.form a {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}

.form select {
    padding: 5px;
    margin: 5px 2px ;
}

.form .input-radio {
    margin: 5px;
}

.form .err-msg {
    color: red;
}